* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.app{
  width: 100%;
  background-color: black;
}

.page{
  width: 100%;
  height: 100vh;
}

.page1{
  background-color: cyan;
}
.page2{
  background-color: blue;
  display: flex;
  align-items: center;
}
.page3{
  background-color: yellow;
}

.box{
  width: 200px;
  height: 200px;
  background-color: crimson;
}