* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.app{
  width: 100%;
  background-color: black;
}

.page{
  width: 100%;
  height: 100vh;
}

.page2{

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContent{
  width: 100%;
  height: 100%;
}

.imageContent img{
  width: 100%;
  height: 100%;
}

.content{
  position: absolute;
  display: flex;
  gap: 60rem;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

